<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<meta charset="utf-8">
<title>18 день #100днейкода</title>
</head>
<body>
	<h1>#100днейкода</h1>
	<button onclick="console.log('First button pressed');">Первая кнопка</button>
	<button onclick="console.log('Second button pressed');">Вторая кнопка</button>
</body>
</html>
