<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<meta charset="utf-8">
<title>18 день #100днейкода.</title>
</head>

<body>
	<h1>#100днейкода</h1>
	<button onclick="console.log('Нажали РАЗ');">Кнопочка РАЗ</button>
	<button onclick="console.log('Нажали ДВА-С');">Кнопочка ДВА-С</button>
	<p>18 v2</p>
</body>

</html>
